.load-bg {
    background-image: url(../../assets/img/Vector.svg);
    width: 100%;
    background-position: top center;
    background-position-y: -2.9rem;
    height: 100vh;
    position: absolute;
    top: -.25rem;
    z-index: -999;
    opacity: 0;
    animation: opa-bg 7180ms ease-in-out;
    -webkit-animation: opa-bg 7180ms ease-in-out; /* WebKit */
    -moz-animation: opa-bg 7180ms ease-in-out;    /* Mozilla */
    -ms-animation: opa-bg 7180ms ease-in-out;     /* Microsoft */
    -o-animation: opa-bg 7180ms ease-in-out;      /* Opera */
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    animation: opa 7180ms linear;
    -webkit-animation: opa 7180ms linear;
    -moz-animation: opa 7180ms linear;
    -ms-animation: opa 7180ms linear;
    -o-animation: opa 7180ms linear;
    opacity: 0;
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
}

.loading-lottie {
    width: 200px;
    height: 200px;
}

.t-lg-bold {
    font-size: var(--t-lg);
    font-weight: var(--fw-bold);
    line-height: var(--t-lh-lg);
}

@keyframes opa-bg {
    0% {
        opacity: 0;
    }
    50%, 100% {
        opacity: 1;
    }
}

@-webkit-keyframes opa-bg { /* WebKit */
    0% {
        opacity: 0;
    }
    50%, 100% {
        opacity: 1;
    }
}

@-moz-keyframes opa-bg { /* Mozilla */
    0% {
        opacity: 0;
    }
    50%, 100% {
        opacity: 1;
    }
}

@-ms-keyframes opa-bg { /* Microsoft */
    0% {
        opacity: 0;
    }
    50%, 100% {
        opacity: 1;
    }
}

@-o-keyframes opa-bg { /* Opera */
    0% {
        opacity: 0;
    }
    50%, 100% {
        opacity: 1;
    }
}

@keyframes opa {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes opa { /* WebKit */
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-moz-keyframes opa { /* Mozilla */
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-ms-keyframes opa { /* Microsoft */
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-o-keyframes opa { /* Opera */
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
