* {
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    cursor: url(../img/Cursor.svg), auto;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--ff);
    position: relative;
    scrollbar-width: thin;
    scrollbar-color: var(--clr-gray-8) var(--clr-gray-2);
}

/* Customize the scrollbar for WebKit-based browsers */
::-webkit-scrollbar {
    width: 14px;
  }
  
  ::-webkit-scrollbar-track {
    background: var(--clr-gray-2);
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: var(--clr-gray-8);
    border-radius: 1rem;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: var(--clr-gray-10);
  }

/* body::-webkit-scrollbar {
    display: none;
} */

html {
    scroll-behavior: smooth;
    -webkit-scroll-behavior: smooth;
    -moz-scroll-behavior: smooth;
    -ms-scroll-behavior: smooth;
    -o-scroll-behavior: smooth;
}


h1, h2, h3, h4, h5, h6 {
    color: var(--clr-gray-10);
}

p {
    color: var(--clr-gray-8);
}

a {
    text-decoration: none;
    -webkit-touch-callout: none;
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -ms-user-drag: none;
    user-drag: none;
}

li {
    list-style: none;
}

.sections {
    width: 100%;
}

.containers {
    max-width: 1440px;
    margin-inline: auto;
    padding: 4rem 1rem;
}

img {
    object-fit: cover;
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -ms-user-drag: none;
    user-drag: none;
}

.wrapper {
    position: relative;
}

main, 
footer {
    position: relative;
    padding-top: 6rem;
}

.bg {
     background-image: linear-gradient(rgba(255, 255, 255, 15.36%), rgb(255, 255, 255)), url(../../assets/img/Vector.svg);
    width: 100%;
    background-position-x: 5rem;
    background-position: top center;
    height: 1024px;
    position: absolute;
    top: -3.1rem;
    z-index: -999;
}

.bg2 {
    background-image: linear-gradient(rgba(255, 255, 255, 15.36%), rgb(255, 255, 255)), url(../../assets/img/Vector.svg);
    width: 100%;
    background-position-x: 5rem;
    background-position: top center;
    height: 1024px;
    position: absolute;
    bottom: 0;
    z-index: -999;
    rotate: 180deg;
}

html.lenis, html.lenis body {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-smooth iframe {
    pointer-events: none;
}

@media screen and (min-width: 714px) {
    .containers {
        padding-inline: 3rem;
    }
}

@media screen and (min-width: 992px) {
    .containers {
        padding-inline: 7rem;
    }
}
